@model List<AdminModel.RoleViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-6 offset-md-2">
        <h2>Roller</h2>
    </div>
    <div class="col-md-2">
        <a asp-action="RoleCreate" asp-controller="Roles" asp-area="Admin" class="btn btn-primary">Rol Ekle</a>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rol Adı</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><a class="btn btn-success btn-sm" asp-area="admin" asp-action="RoleUpdate" asp-controller="Roles" asp-route-id="@item.Id">Güncelle</a></td>
                        <td><a class="btn btn-danger btn-sm my-1" asp-area="admin" asp-action="roledelete" asp-controller="roles" asp-route-id="@item.Id">Kaldır</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
